<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Nos services - ServicePro</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="index.html">Accueil</a>
        <a href="services.html">Services</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>
    <br><hr>

    <h1>Nos services</h1>
    <h2>Consultation</h2>
    <p>Nous offrons des conseils stratégiques pour optimiser votre entreprise.</p>
    <hr>
    <h2>Gestion de Projet</h2>
    <p>Nous planifions et exécutons vos projets pour assurer leur succès.</p>
    <hr>
    <h2>Formation</h2>
    <p>Des programmes pour améliorer les compétences de votre équipe.</p>

    <p><a href="index.html">Retour à l'accueil</a></p>
  </body>
</html>